Repository osu-wams/dx-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hooks, lib, utils

adds student account balance api to hooks package
  packages/hooks/src/api/student/accountBalance.ts
  packages/hooks/src/api/student/index.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/student/accountBalance.ts
  packages/hooks/test/api/student/accountBalance.test.ts
Due: hooks

adds student account transactions api to hooks package
  packages/hooks/src/api/student/accountTransactions.ts
  packages/hooks/src/api/student/index.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/student/accountTransactions.ts
  packages/hooks/test/api/student/accountTransactions.test.ts
Due: hooks

adds student classification api to hooks package
  packages/hooks/src/api/student/classification.ts
  packages/hooks/src/api/student/index.ts
  packages/hooks/src/mocks/student/classification.ts
  packages/hooks/test/api/student/classification.test.ts
Due: hooks

points classification api to proper endpoint
  packages/hooks/src/api/student/classification.ts
  packages/hooks/test/api/student/classification.test.ts
Due: hooks

moves classification api to primary api
  packages/hooks/src/api/classification.ts
  packages/hooks/src/api/student/index.ts
  packages/hooks/src/mocks/classification.ts
  packages/hooks/test/api/classification.test.ts
Due: hooks

adds student class schedule api to hooks package
  packages/hooks/src/api/student/courseSchedule.ts
  packages/hooks/src/api/student/index.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/student/courseSchedule.ts
  packages/hooks/test/api/student/courseSchedule.test.ts
Due: hooks

adds student gpa api to hooks package
  packages/hooks/src/api/student/gpa.ts
  packages/hooks/src/mocks/student/gpa.ts
  packages/hooks/test/api/student/gpa.test.ts
Due: hooks

exports Gpa in hooks package
  packages/hooks/src/api/student/index.ts
  packages/hooks/src/index.ts
Due: hooks

adds student grades api to hooks package
  packages/hooks/src/api/student/grades.ts
  packages/hooks/src/api/student/index.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/student/grades.ts
  packages/hooks/test/api/student/grades.test.ts
Due: hooks

adds student holds api to hooks package
  packages/hooks/src/api/student/holds.ts
  packages/hooks/src/api/student/index.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/student/holds.ts
  packages/hooks/test/api/student/holds.test.ts
Due: hooks

fixes holds mock data
  packages/hooks/src/mocks/student/holds.ts
Due: hooks

adds student planner items api to hooks package
  packages/hooks/src/api/student/index.ts
  packages/hooks/src/api/student/plannerItems.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/student/plannertItems.ts
  packages/hooks/test/api/student/plannerItems.test.ts
Due: hooks

adds events api to hooks package
  packages/hooks/src/api/events.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/events.ts
  packages/hooks/test/api/events.test.ts
Due: hooks

adds user apis to hooks package
  packages/hooks/src/api/user.ts
  packages/hooks/src/mocks/user.ts
  packages/hooks/test/api/user.test.ts
Due: hooks

exports user api
  packages/hooks/src/index.ts
Due: hooks

adds missing user hooks state
  packages/hooks/src/mocks/user.ts
Due: hooks

bugfix for user mock
  packages/hooks/src/mocks/user.ts
Due: hooks

fixes interfaces for user module
  packages/hooks/src/api/user.ts
  packages/hooks/src/mocks/user.ts
Due: hooks

v0.0.2-alpha.41
  lerna.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

v0.0.2-alpha.43
  lerna.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

manage setting state so long as the component is still mounted
  packages/hooks/src/useAPICall.ts
Due: hooks

v0.0.2-alpha.44
  lerna.json
  packages/hooks/package.json
Due: hooks

builds user lib types and functions
  packages/lib/jest.config.js
  packages/lib/src/index.ts
  packages/lib/src/mocks/user.ts
  packages/lib/src/user/index.ts
  packages/lib/src/user/types.ts
  packages/lib/src/user/utils.ts
  packages/lib/test/blah.test.ts
  packages/lib/test/user/utils.test.ts
Due: lib

uses user lib from @osu-wams/lib
  packages/hooks/package.json
  packages/hooks/src/api/user.ts
  packages/hooks/src/mocks/user.ts
  packages/hooks/test/api/user.test.ts
Due: hooks

v0.0.2-alpha.45
  lerna.json
  packages/hooks/package.json
  packages/lib/package.json
Due: hooks, lib

exports lib types
  packages/lib/src/index.ts
  packages/lib/src/types.ts
  packages/lib/src/user/index.ts
  packages/lib/test/user/utils.test.ts
Due: lib

eliminate circular dependency on lib package
  packages/lib/src/mocks/user.ts
  packages/lib/src/user/constants.ts
  packages/lib/src/user/index.ts
  packages/lib/src/user/utils.ts
Due: lib

use types from lib package
  packages/hooks/src/api/user.ts
Due: hooks

v0.0.2-alpha.46
  lerna.json
  packages/hooks/package.json
  packages/lib/package.json
Due: hooks, lib

adds undergraduate classification detection to lib package
  packages/lib/src/mocks/user.ts
  packages/lib/src/student/constants.ts
  packages/lib/src/student/index.ts
  packages/lib/src/types.ts
  packages/lib/src/user/constants.ts
  packages/lib/src/user/utils.ts
  packages/lib/test/user/utils.test.ts
Due: lib

uses independent versioning for packages
  lerna.json
Due: none

Publish
  packages/hooks/package.json
  packages/lib/package.json
Due: hooks, lib

exports user undergraduate from libs package
  packages/hooks/src/api/user.ts
  packages/lib/src/user/index.ts
  packages/lib/test/user/utils.test.ts
Due: hooks, lib

adds resource related types to lib package
  packages/lib/src/types.ts
Due: lib

removes unused interface from announcements in hooks package
  packages/hooks/src/api/announcements.ts
Due: hooks

uses types from lib package
  packages/hooks/src/api/resources.ts
Due: hooks

Publish
  packages/hooks/package.json
Due: hooks

updates audience detection in lib package
  packages/lib/src/user/utils.ts
  packages/lib/test/user/utils.test.ts
Due: lib

Path conditions:
  hooks: any of: packages/hooks/
  lib: any of: packages/lib/
  utils: any of: packages/utils/
