Repository osu-wams/dx-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hooks, lib, utils, theme

downgrade lerna to hopefully fix ebehind error
  package.json
  yarn.lock
Due: none

downgraded hooks version
  packages/hooks/package.json
Due: hooks

removed line to force publish
  packages/hooks/package.json
  packages/hooks/src/api/infoButtons.ts
Due: hooks

Publish
  packages/hooks/package.json
Due: hooks

update node to version 18.19 and lerna to v5
  .nvmrc
  package.json
  yarn.lock
Due: none

update workflow to use node v18
  .github/workflows/ci.yml
Due: none

changed teamdynamix links to mysupport.o.e
  packages/utils/src/externalUrls.data.ts
Due: utils

Publish
  packages/hooks/package.json
  packages/utils/package.json
Due: hooks, utils

removed feedback and getting started URLs
  packages/utils/src/externalUrls.data.ts
Due: utils

updated dependencies for security
  yarn.lock
Due: none

updated cache to v4 since v1 seems to not exist
  .github/workflows/ci.yml
Due: none

removed successFactors links and added concur in its place
  packages/utils/src/externalUrls.data.ts
Due: utils

increment utils version
  packages/utils/package.json
Due: utils

added comment on concur links
  packages/utils/src/externalUrls.data.ts
Due: utils

updated mysupport link to the employee service portal
  packages/utils/src/externalUrls.data.ts
Due: utils

updated support link to general it requests
  packages/utils/src/externalUrls.data.ts
Due: utils

WIP - updated packages
  .nvmrc
  package.json
  packages/hooks/package.json
  packages/hooks/src/state/announcements.ts
  packages/theme/package.json
  yarn.lock
Due: hooks, theme

added types for identities api
  packages/lib/src/types/identity.ts
  packages/lib/src/types/index.ts
Due: lib

fixed lint errors
  packages/lib/src/types/identity.ts
  packages/lib/src/types/index.ts
Due: lib

Publish
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

forces GitHub Actions to checkout the actual branch reference
  .github/workflows/ci.yml
Due: none

check previous head for publish changes
  .github/workflows/ci.yml
Due: none

force publish new package
  .github/workflows/ci.yml
Due: none

Publish
  packages/grouper/package.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/theme/package.json
  packages/utils/package.json
Due: hooks, lib, utils, theme

Path conditions:
  hooks: any of: packages/hooks/
  lib: any of: packages/lib/
  utils: any of: packages/utils/
  theme: any of: packages/theme/
