Repository osu-wams/dx-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hooks, lib, utils, theme

.codecov.yml:

coverage:
  status:
    project:
      default: off
      hooks:
        paths: 'packages/hooks/'
        flags: hooks
      lib:
        paths: 'packages/lib/'
        flags: lib
      utils:
        paths: 'packages/utils/'
        flags: utils
      theme:
        paths: 'packages/theme/'
        flags: theme
    patch:
      default: off

flags:
  hooks:
    paths:
      - packages/hooks/
  lib:
    paths:
      - packages/lib/
  utils:
    paths:
      - packages/utils/
  theme:
    paths:
      - packages/theme/

Accepts null as a value for Hold reason
  packages/lib/src/types/student.ts
Due: lib

Publish
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

Adds holds external url and security updates
  packages/utils/src/externalUrls.data.ts
  yarn.lock
Due: utils

Publish
  packages/hooks/package.json
  packages/utils/package.json
Due: hooks, utils

removes global styles from theme package
  packages/theme/src/GlobalStyles.js
  packages/theme/src/index.ts
Due: theme

Publish
  packages/theme/package.json
Due: theme

adds view holds link to external urls
  packages/utils/src/externalUrls.data.ts
Due: utils

Changes font sizes to pixels so we can use them in both native app and web app
  packages/theme/src/theme-settings.ts
Due: theme

package updates
  yarn.lock
Due: none

adds medical type, mocks, and hook
  packages/hooks/src/api/person/index.ts
  packages/hooks/src/api/person/medical.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/person/medical.ts
  packages/lib/src/types/index.ts
  packages/lib/src/types/person.ts
Due: hooks, lib

adds test for medical hook
  packages/hooks/test/api/person/medical.test.ts
Due: hooks

adds covid compliance external urls
  packages/theme/src/themes/dark.ts
  packages/theme/src/themes/light.ts
  packages/utils/src/externalUrls.data.ts
Due: utils, theme

Publish
  packages/hooks/package.json
  packages/theme/package.json
  packages/utils/package.json
Due: hooks, utils, theme

sorts medical codes
  packages/lib/src/types/person.ts
Due: lib

export fuseIndex from state
  packages/hooks/src/state/index.ts
Due: hooks

Publish
  packages/hooks/package.json
Due: hooks

update package version for axios 0.21.1 to 0.21.4
  packages/grouper/package.json
  packages/hooks/package.json
  yarn.lock
Due: hooks

Publish
  packages/grouper/package.json
  packages/hooks/package.json
Due: hooks

axios now throws error if full paths are passed in that arent full
  packages/hooks/src/api/admin.ts
  packages/hooks/src/api/errors.ts
  packages/hooks/src/api/masquerade.ts
  packages/hooks/src/api/resources.ts
  packages/hooks/src/api/user.ts
Due: hooks

Include BASEURL with all axios calls
  packages/hooks/src/api/admin.ts
  packages/hooks/src/api/errors.ts
  packages/hooks/src/api/masquerade.ts
  packages/hooks/src/api/resources.ts
  packages/hooks/src/api/user.ts
  packages/hooks/src/constants.ts
Due: hooks

Make term an optional search parameter instead of current by default
  packages/hooks/src/api/student/courseSchedule.ts
Due: hooks

CourseScheduleState should use current course schedule
  packages/hooks/src/api/student/courseSchedule.ts
Due: hooks

Added tests for CourseSchedule changes
  packages/hooks/test/api/student/courseSchedule.test.ts
Due: hooks

Modify gradesState to include faculty data from courseSchedule
  packages/hooks/src/api/student/grades.ts
  packages/lib/src/types/student.ts
Due: hooks, lib

Update tests to work with extra faculty data
  packages/hooks/src/mocks/student/grades.ts
  packages/hooks/test/api/student/grades.test.ts
Due: hooks

Added grouper covidvac-student hook
  packages/hooks/src/api/grouper.ts
  packages/hooks/src/mocks/grouper.ts
  packages/hooks/src/state/grouper.ts
  packages/lib/src/types/grouper.ts
Due: hooks, lib

Added test for grouper hook
  packages/hooks/test/api/grouper.test.ts
Due: hooks

Export grouper hook packages in index files
  packages/hooks/src/index.ts
  packages/hooks/src/state/index.ts
  packages/lib/src/types/index.ts
Due: hooks, lib

Added hasMember grouper query
  packages/grouper/src/index.ts
  packages/grouper/src/queries.ts
  packages/grouper/src/types.ts
  packages/grouper/test/queries.test.ts
  packages/hooks/src/api/grouper.ts
  packages/hooks/src/index.ts
Due: hooks

Added tests for hasMember grouper query
  packages/grouper/src/mocks/handlers.ts
  packages/grouper/test/queries.test.ts
Due: none

Added comment for useHasMember
  packages/hooks/src/api/grouper.ts
Due: hooks

Publish
  packages/grouper/package.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

Add workflow_dispatch to trigger build manually
  .github/workflows/ci.yml
Due: none
