Repository osu-wams/dx-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: components, hooks, lib, utils

.codecov.yml:

coverage:
  status:
    project:
      default: off
      components:
        paths: 'packages/components/'
        flags: components
      hooks:
        paths: 'packages/hooks/'
        flags: hooks
      lib:
        paths: 'packages/lib/'
        flags: lib
      utils:
        paths: 'packages/utils/'
        flags: utils
    patch:
      default: off

flags:
  components:
    paths:
      - packages/components/
  hooks:
    paths:
      - packages/hooks/
  lib:
    paths:
      - packages/lib/
  utils:
    paths:
      - packages/utils/

adds announcement to lib types
  packages/lib/src/types/dx.ts
  packages/lib/src/types/index.ts
Due: lib

refactors hook to react-query
  packages/hooks/src/api/announcements.ts
Due: hooks

fixes announcement type and mock data
  packages/hooks/src/mocks/announcements.ts
  packages/lib/src/types/dx.ts
Due: hooks, lib

establishes yalc build order for local development
  package-list-build-order
  package.json
Due: none

fixes announcements hook tests
  packages/hooks/test/api/announcements.test.ts
Due: hooks

Publish
  packages/hooks/package.json
  packages/lib/package.json
Due: hooks, lib

converts events api hooks to use react-query
  packages/hooks/src/api/events.ts
  packages/hooks/src/mocks/events.ts
  packages/hooks/test/api/events.test.ts
Due: hooks

fixes default exports
  packages/hooks/src/index.ts
Due: hooks

Publish
  packages/hooks/package.json
Due: hooks

adds grades to lib types
  packages/lib/src/types/index.ts
  packages/lib/src/types/student.ts
Due: lib

ports grades hook to use react-query
  packages/hooks/src/api/student/grades.ts
  packages/hooks/test/api/student/grades.test.ts
Due: hooks

exports grades attributes
  packages/lib/src/types/index.ts
  packages/lib/src/types/student.ts
Due: lib

adds derived field
  packages/lib/src/types/student.ts
Due: lib

fixes comment to match output
  packages/lib/src/types/student.ts
Due: lib

adds course schedule number as a derived field
  packages/lib/src/types/index.ts
  packages/lib/src/types/student.ts
Due: lib

adds directory and locations types
  packages/lib/src/types/directory.ts
  packages/lib/src/types/index.ts
  packages/lib/src/types/location.ts
Due: lib

fixes types
  packages/lib/src/types/directory.ts
  packages/lib/src/types/location.ts
Due: lib

adds hooks and tests
  packages/hooks/src/api/locations.ts
  packages/hooks/src/api/people.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/locations.ts
  packages/hooks/src/mocks/people.ts
  packages/hooks/test/api/locations.test.ts
  packages/hooks/test/api/people.test.ts
Due: hooks

adds campus name to interface for events
  packages/lib/src/types/localist.ts
Due: lib

Person v2 api changes
  packages/hooks/src/api/person/addresses.ts
  packages/hooks/src/api/person/index.ts
  packages/hooks/src/api/person/persons.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/person/addresses.ts
  packages/hooks/src/mocks/person/persons.ts
  packages/hooks/test/api/person/persons.test.ts
  packages/lib/src/types/index.ts
  packages/lib/src/types/person.ts
Due: hooks, lib

fixes shape of grades mock
  packages/hooks/src/mocks/student/grades.ts
Due: hooks

updates mock data and types for schedule card
  packages/hooks/src/mocks/student/courseSchedule.ts
  packages/lib/src/types/student.ts
Due: hooks, lib

exports mocks for people and locations
  packages/hooks/src/index.ts
Due: hooks

added itSystem to Resource type
  packages/hooks/src/mocks/resources.ts
  packages/lib/src/types/user.ts
Due: hooks, lib

Adds types and api hooks for page search index
  packages/hooks/src/api/searchIndex.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/pageSearchIndex.ts
  packages/hooks/test/api/searchIndex.test.ts
  packages/lib/src/types/dx.ts
  packages/lib/src/types/index.ts
Due: hooks, lib

Security updates and lerna upgrade
  package.json
  yarn.lock
Due: none

adds mock to cover group event building jank data
  packages/hooks/src/mocks/student/courseSchedule.ts
Due: hooks

adds api call for posting application messages to the server
  packages/hooks/src/api/errors.ts
  packages/hooks/test/api/errors.test.ts
Due: hooks
