Repository osu-wams/dx-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: components, hooks, lib, utils

.codecov.yml:

coverage:
  status:
    project:
      default: off
      components:
        paths: 'packages/components/'
        flags: components
      hooks:
        paths: 'packages/hooks/'
        flags: hooks
      lib:
        paths: 'packages/lib/'
        flags: lib
      utils:
        paths: 'packages/utils/'
        flags: utils
    patch:
      default: off

flags:
  components:
    paths:
      - packages/components/
  hooks:
    paths:
      - packages/hooks/
  lib:
    paths:
      - packages/lib/
  utils:
    paths:
      - packages/utils/

Publish
  packages/hooks/package.json
Due: hooks

Adds type for Training: courseLength, removed duration
  packages/lib/src/types/dx.ts
Due: lib

Publish
  packages/hooks/package.json
  packages/lib/package.json
Due: hooks, lib

Updated mock trainings to have courseLength instead of duration
  packages/hooks/src/mocks/trainings.ts
Due: hooks

exports constants for use in client application
  packages/hooks/src/index.ts
Due: hooks

enforces filters only on student dashboard
  packages/lib/src/user/utils.ts
Due: lib

improves hasAudience readability and logic
  packages/lib/src/user/utils.ts
Due: lib

improves comments
  packages/lib/src/user/utils.ts
Due: lib

adds graduate student employee
  packages/lib/src/mocks/user.ts
Due: lib

Added Favorite Resources Mock and Fixed Messages
  packages/hooks/src/mocks/resources.ts
  packages/lib/src/mocks/user.ts
Due: hooks, lib

Added new Persons v2 API models
  packages/hooks/src/api/person/persons.ts
  packages/lib/src/types/person.ts
Due: hooks, lib

added to date to mock hold data
  packages/hooks/src/mocks/student/holds.ts
Due: hooks

Adds updated types to trainings, mock data, and security updates
  packages/hooks/package.json
  packages/hooks/src/mocks/trainings.ts
  packages/lib/src/types/dx.ts
  yarn.lock
Due: hooks, lib

security updates
  packages/grouper/package.json
  yarn.lock
Due: none

Publish
  packages/grouper/package.json
  packages/hooks/package.json
  packages/lib/package.json
Due: hooks, lib

add fromDate to mock data and hold data type
  packages/hooks/src/api/student/holds.ts
  packages/hooks/src/mocks/student/holds.ts
Due: hooks

updates packages for security advisories
  package.json
  yarn.lock
Due: none

improves local development workflow with yalc
  README.md
  package.json
Due: none

add note about removing link
  README.md
Due: none

adds note to replace yalc link with npm modules when finished with local development
  README.md
Due: none

adds message and mock to lib
  packages/lib/src/index.ts
  packages/lib/src/mocks/message.ts
  packages/lib/src/types/index.ts
  packages/lib/src/types/message.ts
Due: lib

adds id and visible to message
  packages/lib/src/mocks/message.ts
  packages/lib/src/types/message.ts
Due: lib

employee who used to be student should get right campus
  packages/lib/src/mocks/user.ts
  packages/lib/src/user/utils.ts
  packages/lib/test/user/utils.test.ts
Due: lib

added employeeIsFormerStudent method
  packages/lib/src/mocks/user.ts
  packages/lib/src/user/utils.ts
  packages/lib/test/user/utils.test.ts
Due: lib

fixing detection for users without recognizable affiliation data
  packages/lib/src/user/index.ts
  packages/lib/src/user/utils.ts
  packages/lib/test/user/utils.test.ts
Due: lib

handles when a user does not have affiliations saml data
  packages/lib/src/user/utils.ts
Due: lib

tests for affiliation returns
  packages/lib/test/user/utils.test.ts
Due: lib
