Repository osu-wams/dx-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: components, hooks, lib, utils

.codecov.yml:

coverage:
  status:
    project:
      default: off
      components:
        paths: 'packages/components/'
        flags: components
      hooks:
        paths: 'packages/hooks/'
        flags: hooks
      lib:
        paths: 'packages/lib/'
        flags: lib
      utils:
        paths: 'packages/utils/'
        flags: utils
    patch:
      default: off

flags:
  components:
    paths:
      - packages/components/
  hooks:
    paths:
      - packages/hooks/
  lib:
    paths:
      - packages/lib/
  utils:
    paths:
      - packages/utils/

adds coverage for more utils
  packages/utils/src/resources.ts
  packages/utils/test/helpers.test.ts
  packages/utils/test/resources.test.ts
  packages/utils/test/routes.test.ts
  packages/utils/test/training.test.ts
Due: utils

adds coverage for hooks
  packages/hooks/src/api/student/plannerItems.ts
  packages/hooks/test/api/announcements.test.ts
  packages/hooks/test/api/cards.test.ts
  packages/hooks/test/api/infoButtons.test.ts
  packages/hooks/test/api/resources.test.ts
  packages/hooks/test/api/searchIndex.test.ts
  packages/hooks/test/api/student/courseSchedule.test.ts
  packages/hooks/test/api/student/grades.test.ts
  packages/hooks/test/api/student/plannerItems.test.ts
  packages/hooks/test/api/trainings.test.ts
  packages/hooks/test/api/user.test.ts
  packages/hooks/test/test-utils.tsx
Due: hooks

updates security warning
  yarn.lock
Due: none

removes bogus console log
  packages/hooks/src/api/student/plannerItems.ts
Due: hooks

Publish
  packages/grouper/package.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

updates packages and pins recoil version
  packages/hooks/package.json
  yarn.lock
Due: hooks

Publish
  packages/hooks/package.json
Due: hooks

updates to use latest react-query
  packages/hooks/package.json
  packages/utils/package.json
  yarn.lock
Due: hooks, utils

updates for react query 3 and migrates interfaces to lib package
  packages/hooks/src/api/alerts.ts
  packages/hooks/src/api/announcements.ts
  packages/hooks/src/api/appVersions.ts
  packages/hooks/src/api/cards.ts
  packages/hooks/src/api/events.ts
  packages/hooks/src/api/infoButtons.ts
  packages/hooks/src/api/locations.ts
  packages/hooks/src/api/pageContents.ts
  packages/hooks/src/api/people.ts
  packages/hooks/src/api/person/addresses.ts
  packages/hooks/src/api/person/mealPlans.ts
  packages/hooks/src/api/person/persons.ts
  packages/hooks/src/api/releaseNotes.ts
  packages/hooks/src/api/resources.ts
  packages/hooks/src/api/searchIndex.ts
  packages/hooks/src/api/status.ts
  packages/hooks/src/api/student/academicStatus.ts
  packages/hooks/src/api/student/accountBalance.ts
  packages/hooks/src/api/student/accountTransactions.ts
  packages/hooks/src/api/student/courseSchedule.ts
  packages/hooks/src/api/student/gpa.ts
  packages/hooks/src/api/student/grades.ts
  packages/hooks/src/api/student/holds.ts
  packages/hooks/src/api/student/plannerItems.ts
  packages/hooks/src/api/trainings.ts
  packages/hooks/src/api/user.ts
  packages/hooks/src/constants.ts
  packages/lib/src/types/appVersions.ts
  packages/lib/src/types/index.ts
  packages/lib/src/types/infoButtons.ts
  packages/lib/src/types/pageContents.ts
  packages/lib/src/types/releaseNotes.ts
  packages/lib/src/types/status.ts
  packages/lib/src/types/student.ts
  packages/utils/src/course.ts
Due: hooks, lib, utils

updates react version
  package.json
  packages/hooks/package.json
  yarn.lock
Due: hooks

fixes bug with jest setup for logging
  packages/hooks/src/jest.setup.ts
Due: hooks

adds test directory typescript
  packages/hooks/tsconfig.json
Due: hooks

fixes bug with race conditions while loading user
  packages/hooks/src/api/user.ts
Due: hooks

improves ability to set user state during tests
  packages/hooks/test/test-utils.tsx
Due: hooks

wraps all hooks so query client provider is in the tree
  packages/hooks/test/api/alerts.test.ts
  packages/hooks/test/api/announcements.test.ts
  packages/hooks/test/api/appVersions.test.ts
  packages/hooks/test/api/cards.test.ts
  packages/hooks/test/api/events.test.ts
  packages/hooks/test/api/infoButtons.test.ts
  packages/hooks/test/api/locations.test.ts
  packages/hooks/test/api/pageContents.test.ts
  packages/hooks/test/api/people.test.ts
  packages/hooks/test/api/person/addresses.test.ts
  packages/hooks/test/api/person/mealPlans.test.ts
  packages/hooks/test/api/person/persons.test.ts
  packages/hooks/test/api/releaseNotes.test.ts
  packages/hooks/test/api/resources.test.ts
  packages/hooks/test/api/searchIndex.test.ts
  packages/hooks/test/api/status.test.ts
  packages/hooks/test/api/student/academicStatus.test.ts
  packages/hooks/test/api/student/accountBalance.test.ts
  packages/hooks/test/api/student/accountTransactions.test.ts
  packages/hooks/test/api/student/courseSchedule.test.ts
  packages/hooks/test/api/student/degrees.test.ts
  packages/hooks/test/api/student/gpa.test.ts
  packages/hooks/test/api/student/grades.test.ts
  packages/hooks/test/api/student/holds.test.ts
  packages/hooks/test/api/student/plannerItems.test.ts
  packages/hooks/test/api/trainings.test.ts
  packages/hooks/test/api/user.test.ts
Due: hooks

bumps react dependencies forward
  packages/hooks/package.json
  yarn.lock
Due: hooks

fixes mealplan api return
  packages/hooks/src/api/person/mealPlans.ts
  packages/hooks/test/api/person/mealPlans.test.ts
Due: hooks

removes unnecessary check for isloading
  packages/hooks/src/api/user.ts
Due: hooks

Publish
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

fixes dashboard race condition and react-query state
  packages/hooks/src/api/user.ts
Due: hooks

Adds theme package to use in MOS and potential MOS Mobile App
  .codecov.yml
  package-list-build-order
  packages/theme/.gitignore
  packages/theme/LICENSE
  packages/theme/README.md
  packages/theme/jest.config.js
  packages/theme/package.json
  packages/theme/src/GlobalStyles.js
  packages/theme/src/grid/Masonry.tsx
  packages/theme/src/grid/PageGrid.tsx
  packages/theme/src/index.ts
  packages/theme/src/jest.setup.ts
  packages/theme/src/theme-colors.ts
  packages/theme/src/theme-interface.ts
  packages/theme/src/theme-settings.ts
  packages/theme/src/themes/dark.ts
  packages/theme/src/themes/index.ts
  packages/theme/src/themes/light.ts
  packages/theme/tsconfig.json
  packages/theme/types/index.d.ts
  yarn.lock
Due: none

Updates packages
  package.json
  yarn.lock
Due: none

Updates tsdx, removes grid and masonry from theme repo, and updates several packages
  package.json
  packages/lib/package.json
  packages/theme/package.json
  packages/theme/src/grid/Masonry.tsx
  packages/theme/src/grid/PageGrid.tsx
  packages/theme/src/index.ts
  packages/theme/test/index.test.ts
  packages/utils/package.json
  yarn.lock
Due: lib, utils

Publish
  packages/hooks/package.json
  packages/lib/package.json
  packages/theme/package.json
  packages/utils/package.json
Due: hooks, lib, utils

typescript rootDir so that it includes test sub-dir
  packages/hooks/tsconfig.json
Due: hooks

fixes lint errors with theme
  packages/theme/src/index.ts
  packages/theme/src/themes/index.ts
  packages/theme/tsconfig.json
Due: none

fixes response type for meal plans endpoint
  packages/hooks/src/api/person/mealPlans.ts
Due: hooks

restores getresetapicache to original intended functionality
  packages/hooks/src/api/admin.ts
  packages/hooks/test/api/admin.test.ts
Due: hooks

fixes return type from dx-server
  packages/hooks/src/api/person/addresses.ts
Due: hooks

removes unnecessary file
  packages/theme/src/theme-interface.ts
Due: none

fixes circular dependencies
  packages/theme/src/GlobalStyles.js
  packages/theme/src/themes/dark.ts
  packages/theme/src/themes/light.ts
Due: none

Publish
  packages/hooks/package.json
  packages/theme/package.json
Due: hooks

fixes react-query properties for mocks
  packages/hooks/src/mocks/alerts.ts
  packages/hooks/src/mocks/classification.ts
  packages/hooks/src/mocks/infoButtons.ts
  packages/hooks/src/mocks/person/addresses.ts
  packages/hooks/src/mocks/person/mealPlans.ts
  packages/hooks/src/mocks/student/academicStatus.ts
  packages/hooks/src/mocks/student/accountBalance.ts
  packages/hooks/src/mocks/student/accountTransactions.ts
  packages/hooks/src/mocks/student/degrees.ts
  packages/hooks/src/mocks/student/holds.ts
  packages/hooks/src/mocks/student/plannertItems.ts
Due: hooks

When switching dashboards, we now use replace history instead of adding to it, as it was requiring hitting the back button twice to engage it
  packages/hooks/src/api/user.ts
  yarn.lock
Due: hooks

adds reason field to student Hold type, and mock data
  packages/hooks/src/mocks/student/holds.ts
  packages/lib/src/types/student.ts
Due: hooks, lib
