Repository osu-wams/dx-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hooks, lib, utils, theme

.codecov.yml:

coverage:
  status:
    project:
      default: off
      hooks:
        paths: 'packages/hooks/'
        flags: hooks
      lib:
        paths: 'packages/lib/'
        flags: lib
      utils:
        paths: 'packages/utils/'
        flags: utils
      theme:
        paths: 'packages/theme/'
        flags: theme
    patch:
      default: off

flags:
  hooks:
    paths:
      - packages/hooks/
  lib:
    paths:
      - packages/lib/
  utils:
    paths:
      - packages/utils/
  theme:
    paths:
      - packages/theme/

Revert publish that did not happen
  packages/grouper/package.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

Publish
  packages/grouper/package.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

Added hook for college API
  packages/hooks/src/api/colleges.ts
  packages/hooks/src/index.ts
  packages/lib/src/types/dx.ts
  packages/lib/src/types/index.ts
  packages/lib/src/types/user.ts
Due: hooks, lib

Modified hasAudience to accept a college parameter
  packages/lib/src/user/utils.ts
Due: lib

Update package versions
  package.json
  packages/grouper/package.json
  packages/utils/yarn.lock
  yarn.lock
Due: utils

commit correct yarn.lock
  yarn.lock
Due: none

Publish
  packages/grouper/package.json
  packages/hooks/package.json
  packages/utils/package.json
Due: hooks, utils

Updated banner links for oracle cloud
  packages/utils/src/externalUrls.data.ts
Due: utils

Publish
  packages/hooks/package.json
  packages/utils/package.json
Due: hooks, utils

update useUserState hooks to use react router navigation
  packages/hooks/src/api/user.ts
Due: hooks

Publish
  packages/hooks/package.json
Due: hooks

Change employee permission error from warning to info
  packages/hooks/src/state/messages.ts
Due: hooks

update node version
  .nvmrc
Due: none

Updated node packages for dts
  package.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/theme/package.json
  packages/utils/package.json
  yarn.lock
Due: hooks, lib, utils, theme

Updated jest configs to work with dts
  jest.config.js
  packages/grouper/package.json
  packages/hooks/jest.config.js
Due: hooks

updated eslint rules
  .eslintrc.js
Due: none

Fixed lint issues
  packages/grouper/src/client.ts
  packages/grouper/src/queries.ts
  packages/grouper/src/types.ts
  packages/grouper/test/queries.test.ts
  packages/hooks/src/api/masquerade.ts
  packages/hooks/src/api/student/grades.ts
  packages/hooks/src/mocks/events.ts
  packages/hooks/src/mocks/trainings.ts
  packages/hooks/src/state/announcements.ts
  packages/hooks/src/state/dynamicCards.ts
  packages/hooks/src/state/messages.ts
  packages/hooks/src/state/notifications.ts
  packages/hooks/src/state/search.ts
  packages/hooks/test/api/grouper.test.ts
  packages/lib/src/mocks/message.ts
Due: hooks, lib

Push github actions node version from 12 to 14
  .github/workflows/ci.yml
Due: none

Publish
  packages/grouper/package.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/theme/package.json
  packages/utils/package.json
Due: hooks, lib, utils, theme

Updated axios 0.21.4 to 0.26.0 in hooks
  packages/hooks/package.json
  yarn.lock
Due: hooks

Updated empcenter url
  packages/utils/src/externalUrls.data.ts
Due: utils

Added successFactors entitlement
  packages/lib/src/user/constants.ts
Due: lib

Publish
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

Added successFactors URLs
  packages/utils/src/externalUrls.data.ts
Due: utils

Updated yarn lock for security updates
  package.json
  yarn.lock
Due: none

Security updates
  package.json
  packages/utils/test/helpers.test.ts
  yarn.lock
Due: utils

Updated yarn.lock for security
  yarn.lock
Due: none

updated packages for security updates
  yarn.lock
Due: none

updated registration banner urls
  packages/utils/src/externalUrls.data.ts
Due: utils

updated some dependencies to fix word-wrap vulns
  yarn.lock
Due: none

security updates for semvar vuln
  yarn.lock
Due: none

package updates for security vulnerabilities
  yarn.lock
Due: none

removed all references to covidvacStudent grouper group
  packages/hooks/src/api/grouper.ts
  packages/hooks/src/index.ts
  packages/hooks/src/state/grouper.ts
  packages/hooks/src/state/index.ts
Due: hooks
