Repository osu-wams/dx-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: components, hooks, lib, utils

.codecov.yml:

coverage:
  status:
    project:
      default: off
      components:
        paths: 'packages/components/'
        flags: components
      hooks:
        paths: 'packages/hooks/'
        flags: hooks
      lib:
        paths: 'packages/lib/'
        flags: lib
      utils:
        paths: 'packages/utils/'
        flags: utils
    patch:
      default: off

flags:
  components:
    paths:
      - packages/components/
  hooks:
    paths:
      - packages/hooks/
  lib:
    paths:
      - packages/lib/
  utils:
    paths:
      - packages/utils/

Adds import and export Admin for getResetApiCache on main index file
  packages/hooks/src/index.ts
Due: hooks

Publish
  packages/hooks/package.json
Due: hooks

adds optional typing for resources
  packages/lib/src/types/dx.ts
Due: lib

Publish
  packages/hooks/package.json
  packages/lib/package.json
Due: hooks, lib

adds more type goodness to planner items
  packages/lib/src/types/student.ts
Due: lib

Adds matching resource ids to mocks for dynamic cards
  packages/hooks/src/mocks/cards.ts
Due: hooks

fixes edge case with empty audience not being able to return early
  packages/lib/src/user/utils.ts
Due: lib

adds dualDegree to degree type
  packages/lib/src/types/student.ts
Due: lib

adds betabadge for testing to get a basic component working
  packages/components/.eslintignore
  packages/components/package.json
  packages/components/src/style-components.d.ts
  packages/components/src/theme/GlobalStyles.js
  packages/components/src/theme/index.ts
  packages/components/src/theme/styled-components-css.ts
  packages/components/src/theme/theme-colors.ts
  packages/components/src/theme/theme-interface.ts
  packages/components/src/theme/theme-settings.ts
  packages/components/src/theme/themes/dark.ts
  packages/components/src/theme/themes/index.ts
  packages/components/src/theme/themes/light.ts
  packages/components/src/ui/Badge.tsx
  packages/components/src/util/gaTracking.ts
  packages/components/stories/BetaBadge.stories.tsx
  packages/components/tsconfig.json
  yarn.lock
Due: components

updates packages typescript and lint fixes
  .eslintrc.js
  package.json
  packages/components/.eslintignore
  packages/components/package.json
  packages/grouper/package.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
  yarn.lock
Due: components, hooks, lib, utils

adds ability to fetch fontawesome with our credentials
  packages/components/.npmrc
Due: components

uses src stories and decorator for theme
  packages/components/.storybook/main.js
  packages/components/.storybook/preview.js
Due: components

refactors for theme
  packages/components/src/theme/index.ts
  packages/components/src/theme/styled-components-css.ts
  packages/components/src/theme/themes/dark.ts
  packages/components/src/theme/themes/light.ts
Due: components

refactor for component stories
  packages/components/src/stories/Description.stories.tsx
  packages/components/src/stories/Icon.stories.tsx
  packages/components/src/stories/LeadText.stories.tsx
  packages/components/src/ui/Badge.tsx
  packages/components/src/ui/Description.tsx
  packages/components/src/ui/Icon.tsx
  packages/components/src/ui/LeadText.tsx
  packages/components/src/util/gaTracking.ts
  packages/components/stories/BetaBadge.stories.tsx
  packages/components/stories/Button.stories.tsx
  packages/components/stories/Button.tsx
  packages/components/stories/Header.stories.tsx
  packages/components/stories/Header.tsx
  packages/components/stories/Introduction.stories.mdx
  packages/components/stories/Page.stories.tsx
  packages/components/stories/Page.tsx
  packages/components/stories/assets/code-brackets.svg
  packages/components/stories/assets/colors.svg
  packages/components/stories/assets/comments.svg
  packages/components/stories/assets/direction.svg
  packages/components/stories/assets/flow.svg
  packages/components/stories/assets/plugin.svg
  packages/components/stories/assets/repo.svg
  packages/components/stories/assets/stackalt.svg
  packages/components/stories/button.css
  packages/components/stories/header.css
  packages/components/stories/page.css
Due: components

releaseNotes now in react-query and additional tests
  packages/hooks/src/api/releaseNotes.ts
  packages/hooks/src/mocks/releaseNotes.ts
  packages/hooks/test/api/releaseNotes.test.ts
Due: hooks

adds some dependency packages for ui components
  packages/components/package.json
  yarn.lock
Due: components

adds globalstyles and code alias directories for storybook webpack
  packages/components/.storybook/main.js
  packages/components/.storybook/preview.js
Due: components

refactors button components
  packages/components/src/ui-original/Button/index.tsx
  packages/components/src/ui/Button/Button.tsx
  packages/components/src/ui/Button/ButtonLink.tsx
  packages/components/src/ui/Button/CloseButton.tsx
  packages/components/src/ui/Button/InfoButton.tsx
  packages/components/src/ui/Button/index.tsx
Due: components

refactors MyDialog
  packages/components/src/ui-original/Badge.tsx
  packages/components/src/ui/MyDialog/Content.tsx
  packages/components/src/ui/MyDialog/Dialog.tsx
  packages/components/src/ui/MyDialog/Footer.tsx
  packages/components/src/ui/MyDialog/Header.tsx
  packages/components/src/ui/MyDialog/Image.tsx
  packages/components/src/ui/MyDialog/index.tsx
Due: components

stories for migrated components
  packages/components/src/stories/Button/Button.stories.tsx
  packages/components/src/stories/Button/ButtonLink.stories.tsx
  packages/components/src/stories/Button/CloseButton.stories.tsx
  packages/components/src/stories/Button/InfoButton.stories.tsx
  packages/components/src/stories/Description.stories.tsx
  packages/components/src/stories/Icon.stories.tsx
  packages/components/src/stories/LeadText.stories.tsx
  packages/components/src/stories/MyDialog/Dialog.stories.tsx
Due: components

pageContent now uses react-query and test updates
  packages/hooks/src/api/pageContents.ts
  packages/hooks/src/mocks/pageContents.ts
  packages/hooks/test/api/pageContents.test.ts
Due: hooks

course schedule now with react query and updated tests
  packages/hooks/src/api/student/courseSchedule.ts
  packages/hooks/src/mocks/student/courseSchedule.ts
  packages/hooks/test/api/student/courseSchedule.test.ts
Due: hooks

adds applitools for eyes testing
  packages/components/package.json
  yarn.lock
Due: components

adds basic decorators
  packages/components/.storybook/preview.js
  packages/components/src/stories/decorators.tsx
Due: components

simplify stories to make use of provided decorators
  packages/components/src/stories/Button/Button.stories.tsx
  packages/components/src/stories/Icon.stories.tsx
Due: components

adds isMobile to user interface and fixes lint errors
  packages/lib/src/types/user.ts
Due: lib

adds isMobile to user mock
  packages/lib/src/mocks/user.ts
Due: lib

adds training audience type
  packages/lib/src/types/dx.ts
Due: lib

adds training audience hook and api calls
  packages/hooks/src/api/trainings.ts
  packages/hooks/src/mocks/trainings.ts
  packages/hooks/test/api/trainings.test.ts
  packages/lib/src/types/index.ts
Due: hooks, lib

adds default export
  packages/hooks/src/index.ts
Due: hooks

adds to mocks for testing filtering
  packages/hooks/src/mocks/trainings.ts
Due: hooks
