Repository osu-wams/dx-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hooks, lib, utils

Publish
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

adds usermessage type and updated readme for dev workflow
  README.md
  packages/lib/src/types/user.ts
Due: lib

uses latest node modules
  packages/hooks/package.json
  yarn.lock
Due: hooks

updates hooks dependency for utils
  packages/hooks/package.json
  yarn.lock
Due: hooks

Publish
  packages/hooks/package.json
  packages/lib/package.json
Due: hooks, lib

exports UserMessage in Types
  packages/hooks/package.json
  packages/lib/src/types/index.ts
Due: hooks, lib

Degree endpoint troubleshooting, cleaning data
  packages/hooks/src/api/student/degrees.ts
  packages/hooks/test/api/student/degrees.test.ts
  yarn.lock
Due: hooks

Publish
  packages/hooks/package.json
Due: hooks

add person types
  packages/lib/src/types/person.ts
Due: lib

Adds more Types, prepending the endpoint
  packages/lib/src/types/student.ts
Due: lib

Adds types to planner items
  packages/hooks/src/api/student/plannerItems.ts
Due: hooks

Course Schedule types moved to lib package, this uses them from that location
  packages/hooks/src/api/student/courseSchedule.ts
Due: hooks

Updating versions, and exporting all new types from the types index
  packages/hooks/package.json
  packages/lib/package.json
  packages/lib/src/types/index.ts
Due: hooks, lib

Downgrade versions, updates test to use proper types
  packages/hooks/package.json
  packages/hooks/test/api/student/courseSchedule.test.ts
  packages/lib/package.json
Due: hooks, lib

publish patch releases when master branch is merged
  .github/workflows/ci.yml
Due: none

target base_ref of master branch
  .github/workflows/ci.yml
Due: none

target github full ref for master
  .github/workflows/ci.yml
Due: none

fetches all github commits for lerna to properly version on publish
  .github/workflows/ci.yml
Due: none

when lerna detects multiple packages allow it to publish
  .github/workflows/ci.yml
Due: none

adds new field to track excluding from trending resources
  packages/hooks/src/mocks/resources.ts
  packages/lib/src/types/user.ts
Due: hooks, lib

adds git config for auto deployment
  .github/workflows/ci.yml
Due: none

adds types for localist and academic events
  packages/hooks/src/api/events.ts
  packages/hooks/src/mocks/events.ts
  packages/lib/src/types/index.ts
  packages/lib/src/types/localist.ts
Due: hooks, lib

adds campus_code to event interface
  packages/hooks/src/mocks/events.ts
  packages/lib/src/types/localist.ts
Due: hooks, lib

Updates affiliation data to more broadly target non graduate students. Additionally those with affiliation override of student will also get resources tagged as undergraduate
  packages/lib/src/user/constants.ts
  packages/lib/src/user/utils.ts
  packages/lib/test/user/utils.test.ts
Due: lib

Small modification to README to clarify publish or lack thereof and no version numbers to be changes in package.json
  README.md
Due: none

Adds more tests for use cases of employees with overrides
  packages/lib/test/user/utils.test.ts
Due: lib

evaluates employee with audience overrides
  packages/lib/src/user/utils.ts
  packages/lib/test/user/utils.test.ts
Due: lib

pushes undergraduate audience when an employee is using the student dashboard
  packages/lib/src/user/utils.ts
Due: lib

adds user messages hook and api call for updating user message status
  packages/hooks/src/api/user.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/messages.ts
  packages/hooks/test/api/user.test.ts
  packages/lib/src/mocks/user.ts
  packages/lib/src/types/index.ts
  packages/lib/src/types/user.ts
Due: hooks, lib

updates test to give a more clear idea of a failed call
  packages/hooks/test/api/user.test.ts
Due: hooks

converts campusCode to a string array
  packages/lib/src/user/constants.ts
  packages/lib/src/user/utils.ts
  packages/lib/test/user/utils.test.ts
Due: lib

Path conditions:
  hooks: any of: packages/hooks/
  lib: any of: packages/lib/
  utils: any of: packages/utils/
