Repository osu-wams/dx-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hooks, lib, utils

fixes github action to build and test
  .github/workflows/pull_request.yml
  package.json
Due: none

reworks for tests on github actions
  .github/workflows/pull_request.yml
  .npmrc
  package.json
  packages/hooks/jest.config.js
  packages/hooks/package.json
  packages/hooks/src/jest.setup.ts
  packages/hooks/test/api/user.test.ts
  packages/lib/jest.config.js
  packages/lib/src/jest.setup.ts
  packages/utils/jest.config.js
  packages/utils/src/jest.setup.ts
  packages/utils/test/storageCache.test.ts
  yarn.lock
Due: hooks, lib, utils

sets workflow on PR and merge to master
  .github/workflows/ci.yml
Due: none

updates documentation and global dev variable
  README.md
  packages/hooks/README.md
  packages/hooks/types/index.d.ts
  packages/lib/README.md
  packages/lib/types/index.d.ts
  packages/utils/README.md
  packages/utils/types/index.d.ts
Due: hooks, lib, utils

Publish
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

fixes resources mock data and shape in hooks package
  packages/hooks/src/api/announcements.ts
  packages/hooks/src/mocks/announcements.ts
  packages/hooks/src/mocks/resources.ts
Due: hooks

fixes announcements hook test
  packages/hooks/test/api/announcements.test.ts
Due: hooks

Publish
  packages/hooks/package.json
Due: hooks

adds affiliation to categories and related mocks
  packages/hooks/src/mocks/resources.ts
  packages/lib/src/types.ts
Due: hooks, lib

Publish
  packages/hooks/package.json
  packages/lib/package.json
Due: hooks, lib

replaces node util with simple null undef check to keep module usable in react-native
  packages/lib/src/user/utils.ts
Due: lib

bumps lib dependency for null-check fix
  packages/hooks/package.json
Due: hooks

post, find for Favorite Resources
  packages/hooks/src/api/resources.ts
  packages/hooks/src/index.ts
  packages/lib/src/types.ts
Due: hooks, lib

peerDependencies for react and react-dom and type data for favoriteResources
  package.json
  packages/hooks/package.json
  packages/hooks/src/api/user.ts
  packages/lib/src/types.ts
  packages/lib/src/user/constants.ts
Due: hooks, lib

Functionality to clear cache from favorite resources and persisting in user
  packages/hooks/src/api/resources.ts
  packages/hooks/src/api/user.ts
Due: hooks

Surfacing refreshFAvorites and other data to user, and updating types
  packages/lib/src/mocks/user.ts
  packages/lib/src/types.ts
Due: lib

sets react to dependency for monorepo project
  package.json
Due: none

refactors favorites refresh and adds test coverage
  packages/hooks/src/api/user.ts
  packages/hooks/test/api/user.test.ts
Due: hooks

adds trending resources hook and tests
  packages/hooks/src/api/resources.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/resources.ts
  packages/hooks/test/api/resources.test.ts
  packages/lib/src/types.ts
Due: hooks, lib

fixes mock data to match resources
  packages/hooks/src/mocks/resources.ts
Due: hooks

updates typescript config references
  packages/hooks/tsconfig.json
  packages/lib/tsconfig.json
  packages/utils/tsconfig.json
  tsconfig.json
Due: hooks, lib, utils

fixes base tsconfig paths
  tsconfig.json
Due: none

updates security alerts
  package.json
  yarn.lock
Due: none

upgrade node version and tsdx
  .github/workflows/ci.yml
  .nvmrc
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
  yarn.lock
Due: hooks, lib, utils

Additional README instructions and updating to latest typescript
  README.md
  package.json
  yarn.lock
Due: none

Type refactor to start making them more consistent
  packages/lib/src/types/index.ts
  packages/lib/src/types/student.ts
  packages/lib/src/types/user.ts
  packages/lib/src/user/constants.ts
Due: lib

Degrees hook, mock data and minor updates
  packages/hooks/package.json
  packages/hooks/src/api/student/degrees.ts
  packages/hooks/src/api/student/index.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/student/degrees.ts
  packages/lib/package.json
Due: hooks, lib

Tests for degrees
  packages/hooks/test/api/student/degrees.test.ts
Due: hooks

removes yarn.lock from both packages/hooks and packages/lib as they were not being used
  packages/hooks/yarn.lock
  packages/lib/yarn.lock
Due: hooks, lib

adds missing package for build
  package.json
  yarn.lock
Due: none

fixes broken tests
  packages/hooks/src/mocks/alerts.ts
  packages/hooks/src/mocks/events.ts
  packages/hooks/src/mocks/student/plannertItems.ts
Due: hooks

deployed minor versions
  package.json
  packages/hooks/package.json
  packages/hooks/tsconfig.json
  packages/lib/package.json
  packages/utils/package.json
  packages/utils/tsconfig.json
Due: hooks, lib, utils

Path conditions:
  hooks: any of: packages/hooks/
  lib: any of: packages/lib/
  utils: any of: packages/utils/
