Repository osu-wams/dx-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hooks, lib, utils

Publish
  packages/hooks/package.json
  packages/lib/package.json
Due: hooks, lib

maps all known campus codes to campuses
  packages/lib/src/user/constants.ts
Due: lib

handles evaluating when user is undefined
  packages/lib/src/user/utils.ts
  packages/lib/test/user/utils.test.ts
Due: lib

fixes logic for a users campus precedence
  packages/lib/src/user/utils.ts
Due: lib

Publish
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

moves the login flow to happen only on fetching user session
  packages/hooks/src/api/user.ts
  packages/hooks/src/useAPICall.ts
  packages/hooks/test/useAPICall.test.ts
Due: hooks

Adds affiliations string array type to User and it's mock
  packages/lib/src/mocks/user.ts
  packages/lib/src/types/user.ts
Due: lib

adds affiliations empty array to INITIAL_USER constant
  packages/lib/src/user/constants.ts
Due: lib

adds training interface to lib
  packages/lib/src/types/dx.ts
  packages/lib/src/types/index.ts
Due: lib

fixes bug with an empty string for primary affiliation override
  packages/lib/src/user/utils.ts
  packages/lib/test/user/utils.test.ts
Due: lib

adds basic api query and test
  packages/hooks/src/api/trainings.ts
  packages/hooks/test/api/trainings.test.ts
Due: hooks

adds mock training data
  packages/hooks/src/mocks/trainings.ts
Due: hooks

adds react-query to hooks package
  packages/hooks/package.json
  yarn.lock
Due: hooks

adds hook, default configurations, and test coverage
  packages/hooks/src/api/trainings.ts
  packages/hooks/src/constants.ts
  packages/hooks/src/index.ts
  packages/hooks/test/api/trainings.test.ts
Due: hooks

fixes shape of mock return from hook
  packages/hooks/src/mocks/trainings.ts
Due: hooks

Publish
  packages/hooks/package.json
Due: hooks

adds training type to lib
  packages/lib/src/types/dx.ts
  packages/lib/src/types/index.ts
Due: lib

adds api call and hook with coverage
  packages/hooks/src/api/trainings.ts
  packages/hooks/src/mocks/trainings.ts
  packages/hooks/test/api/trainings.test.ts
Due: hooks

adds id to training type interface
  packages/hooks/src/mocks/trainings.ts
  packages/lib/src/types/dx.ts
Due: hooks, lib

exports useTrainingTypes
  packages/hooks/src/index.ts
Due: hooks

updates useUser to a react-query hook
  packages/hooks/src/api/classification.ts
  packages/hooks/src/api/user.ts
  packages/hooks/test/api/user.test.ts
Due: hooks

refactors to training tags api call
  packages/hooks/src/api/trainings.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/trainings.ts
  packages/hooks/test/api/trainings.test.ts
  packages/lib/src/types/dx.ts
  packages/lib/src/types/index.ts
Due: hooks, lib

refactors resources hook to use react query
  packages/hooks/src/api/resources.ts
  packages/hooks/test/api/resources.test.ts
Due: hooks

fixes trending resources hook types
  packages/hooks/src/api/resources.ts
Due: hooks

uses dynamic cache keys to cache requests
  packages/hooks/src/api/resources.ts
Due: hooks

adds gpa level to the lib types
  packages/hooks/src/api/student/gpa.ts
  packages/lib/src/types/index.ts
  packages/lib/src/types/student.ts
Due: hooks, lib

Path conditions:
  hooks: any of: packages/hooks/
  lib: any of: packages/lib/
  utils: any of: packages/utils/
