Repository osu-wams/dx-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hooks, lib, utils

.codecov.yml:

coverage:
  status:
    project:
      default: off
      hooks:
        paths: 'packages/hooks/'
        flags: hooks
      lib:
        paths: 'packages/lib/'
        flags: lib
      utils:
        paths: 'packages/utils/'
        flags: utils
    patch:
      default: off

flags:
  hooks:
    paths:
      - packages/hooks/
  lib:
    paths:
      - packages/lib/
  utils:
    paths:
      - packages/utils/

v0.0.2-alpha.12
  lerna.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

refactors useAPICall adding interface
  jest.config.js
  packages/hooks/src/useAPICall.ts
  packages/hooks/test/useAPICall.test.ts
Due: hooks

v0.0.2-alpha.13
  lerna.json
  packages/hooks/package.json
Due: hooks

sets query to be optional
  packages/hooks/src/useAPICall.ts
  packages/hooks/test/useAPICall.test.ts
Due: hooks

v0.0.2-alpha.14
  lerna.json
  packages/hooks/package.json
Due: hooks

adds more coverage and error status skippage
  packages/hooks/src/useAPICall.ts
  packages/hooks/test/useAPICall.test.ts
Due: hooks

v0.0.2-alpha.15
  lerna.json
  packages/hooks/package.json
Due: hooks

adds errors api to hooks package
  packages/hooks/package.json
  packages/hooks/src/api/errors.ts
  packages/hooks/src/api/index.ts
  packages/hooks/src/index.ts
  packages/hooks/test/api/errors.test.ts
  yarn.lock
Due: hooks

adds appversions api to hooks package
  lerna.json
  package.json
  packages/hooks/src/api/appVersions.ts
  packages/hooks/src/api/index.ts
  packages/hooks/test/api/appVersions.test.ts
Due: hooks

fixes exports
  lerna.json
  packages/hooks/src/api/appVersions.ts
  packages/hooks/test/api/appVersions.test.ts
  packages/hooks/test/api/errors.test.ts
Due: hooks

exports useAppVersions
  lerna.json
  packages/hooks/src/index.ts
  packages/hooks/test/api/appVersions.test.ts
Due: hooks

adds status api to hooks package
  lerna.json
  packages/hooks/mocks/status.ts
  packages/hooks/package.json
  packages/hooks/src/api/index.ts
  packages/hooks/src/api/status.ts
  packages/hooks/src/index.ts
  packages/hooks/test/api/status.test.ts
  packages/hooks/tsconfig.json
Due: hooks

adds status mocks
  lerna.json
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/index.ts
  packages/hooks/src/mocks/status.ts
  packages/hooks/test/api/status.test.ts
Due: hooks

reworks status mock data
  lerna.json
  packages/hooks/src/api/status.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/index.ts
Due: hooks

refactor exports
  lerna.json
  packages/hooks/src/api/appVersions.ts
  packages/hooks/src/api/errors.ts
  packages/hooks/src/api/index.ts
  packages/hooks/src/api/status.ts
  packages/hooks/src/index.ts
Due: hooks

refactor exports
  lerna.json
  packages/hooks/src/api/appVersions.ts
  packages/hooks/src/api/errors.ts
  packages/hooks/src/api/status.ts
  packages/hooks/src/index.ts
Due: hooks

adds alerts api to hooks package
  lerna.json
  packages/hooks/src/api/alerts.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/alerts.ts
  packages/hooks/test/api/alerts.test.ts
Due: hooks

reworks appversions test to test the hook
  packages/hooks/test/api/appVersions.test.ts
Due: hooks

reworks status tests to test the hook
  packages/hooks/test/api/status.test.ts
Due: hooks

adds masquerade api calls to hook package
  packages/hooks/src/api/masquerade.ts
  packages/hooks/src/index.ts
Due: hooks

adds repository package information
  lerna.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

updates deployed version
  lerna.json
Due: none

adds info buttons api to hooks package
  packages/hooks/src/api/infoButtons.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/infoButtons.ts
  packages/hooks/test/api/infoButtons.test.ts
Due: hooks

adds resources api to hooks package
  packages/hooks/src/api/resources.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/resources.ts
  packages/hooks/test/api/resources.test.ts
Due: hooks

versioning independent
  lerna.json
Due: none

Publish
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

v0.0.2-alpha.39
  lerna.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

remove githead temporary key
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

v0.0.2-alpha.40
  lerna.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

adds page content api to hooks package
  packages/hooks/src/api/pageContents.ts
  packages/hooks/src/mocks/pageContents.ts
  packages/hooks/test/api/pageContents.test.ts
Due: hooks

exports page contents api
  packages/hooks/src/index.ts
Due: hooks

adds release notes api to hooks package
  packages/hooks/src/api/releaseNotes.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/releaseNotes.ts
  packages/hooks/test/api/releaseNotes.test.ts
Due: hooks

adds announcements api to hooks package
  packages/hooks/src/api/announcements.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/announcements.ts
  packages/hooks/test/api/announcements.test.ts
Due: hooks

adds announcements mock data
  packages/hooks/src/mocks/announcements.ts
Due: hooks

consolidates announcement mock data from upstream
  packages/hooks/src/mocks/announcements.ts
Due: hooks

adds persons addresses api to hooks package
  packages/hooks/src/api/person/addresses.ts
  packages/hooks/src/api/person/index.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/person/addresses.ts
  packages/hooks/test/api/person/addresses.test.ts
Due: hooks

adds persons meal plans api to hooks package
  packages/hooks/src/api/person/index.ts
  packages/hooks/src/api/person/mealPlans.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/person/mealPlans.ts
  packages/hooks/test/api/person/mealPlans.test.ts
Due: hooks

adds persons person api to hooks package
  packages/hooks/src/api/person/index.ts
  packages/hooks/src/api/person/persons.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/person/persons.ts
  packages/hooks/test/api/person/persons.test.ts
Due: hooks

adds student academic status api to hooks package
  packages/hooks/src/api/student/academicStatus.ts
  packages/hooks/src/api/student/index.ts
  packages/hooks/src/index.ts
  packages/hooks/src/mocks/student/academicStatus.ts
  packages/hooks/test/api/student/academicStatus.test.ts
Due: hooks

removes test coverage for unnecessary files
  packages/hooks/jest.config.js
Due: hooks
