Repository osu-wams/dx-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hooks, lib, utils

.codecov.yml:

coverage:
  status:
    project:
      default: off
      hooks:
        paths: 'packages/hooks/'
        flags: hooks
      lib:
        paths: 'packages/lib/'
        flags: lib
      utils:
        paths: 'packages/utils/'
        flags: utils
    patch:
      default: off

flags:
  hooks:
    paths:
      - packages/hooks/
  lib:
    paths:
      - packages/lib/
  utils:
    paths:
      - packages/utils/

Publish
  packages/grouper/package.json
  packages/hooks/package.json
  packages/lib/package.json
Due: hooks, lib

Updates notifications api call to use react-query. Upgrades react-query to the latest version.
  packages/hooks/package.json
  packages/hooks/src/api/user.ts
  yarn.lock
Due: hooks

Adds PDX campus code, and associates it with Corvallis campus
  packages/lib/src/user/constants.ts
Due: lib

Security and package updates
  packages/grouper/package.json
  packages/hooks/package.json
  yarn.lock
Due: hooks

Updates tests to reflect react-query changes, and re-works how the window object is loaded in the jest setup files
  packages/hooks/src/jest.setup.ts
  packages/hooks/test/api/user.test.ts
  packages/lib/src/jest.setup.ts
  packages/utils/src/jest.setup.ts
  yarn.lock
Due: hooks, lib, utils

Publish
  packages/grouper/package.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

adds a mock remote learning course
  packages/hooks/src/mocks/student/courseSchedule.ts
Due: hooks

Publish
  packages/hooks/package.json
Due: hooks

Adds type for user messages state
  packages/lib/src/types/user.ts
Due: lib

Publish
  packages/hooks/package.json
  packages/lib/package.json
Due: hooks, lib

Exports userMessagesState from main index file
  packages/lib/src/types/index.ts
Due: lib

Makes messageId optional in UserMessageUpdate type so we can target all messages
  packages/lib/src/types/user.ts
Due: lib

adds trending resource mock for testing frontned
  packages/hooks/src/mocks/resources.ts
Due: hooks

Adds devTools option for user type
  packages/lib/src/types/user.ts
Due: lib

Adds mocks for READ and multiple messages
  packages/hooks/src/mocks/messages.ts
  packages/lib/src/types/user.ts
Due: hooks, lib

Updates user mocks with more accurate data for tests
  packages/hooks/src/mocks/messages.ts
  packages/lib/src/mocks/user.ts
Due: hooks, lib

Converts status to react query
  packages/hooks/src/api/status.ts
  packages/hooks/src/mocks/status.ts
Due: hooks

Updates status dests and helper methods to deal with undefined/return empty data
  packages/hooks/src/api/status.ts
  packages/hooks/test/api/status.test.ts
Due: hooks

Updates logic around hasAudience and tests
  packages/lib/src/mocks/user.ts
  packages/lib/src/user/utils.ts
  packages/lib/test/user/utils.test.ts
Due: lib

Adds get request to reset api cache and basic tests
  packages/hooks/src/api/admin.ts
  packages/hooks/test/api/admin.test.ts
Due: hooks

Adds check to ignore classification attributes if you are an employee only
  packages/lib/src/user/utils.ts
Due: lib

adds components package
  .codecov.yml
  packages/components/.gitignore
  packages/components/LICENSE
  packages/components/README.md
  packages/components/jest.config.js
  packages/components/package.json
  packages/components/tsconfig.json
Due: none

init storybook
  packages/components/.storybook/main.js
  packages/components/.storybook/preview.js
  packages/components/package.json
  packages/components/stories/Button.stories.tsx
  packages/components/stories/Button.tsx
  packages/components/stories/Header.stories.tsx
  packages/components/stories/Header.tsx
  packages/components/stories/Introduction.stories.mdx
  packages/components/stories/Page.stories.tsx
  packages/components/stories/Page.tsx
  packages/components/stories/assets/code-brackets.svg
  packages/components/stories/assets/colors.svg
  packages/components/stories/assets/comments.svg
  packages/components/stories/assets/direction.svg
  packages/components/stories/assets/flow.svg
  packages/components/stories/assets/plugin.svg
  packages/components/stories/assets/repo.svg
  packages/components/stories/assets/stackalt.svg
  packages/components/stories/button.css
  packages/components/stories/header.css
  packages/components/stories/page.css
  yarn.lock
Due: none

adds testing capability
  packages/components/src/jest.setup.ts
  packages/components/test/index.test.ts
Due: none

convenience script
  package.json
Due: none

adds dynamic card interface
  packages/lib/src/types/dx.ts
  packages/lib/src/types/index.ts
Due: lib

adds mock card data
  packages/hooks/src/mocks/cards.ts
Due: hooks

adds cards hook
  packages/hooks/src/api/cards.ts
  packages/hooks/test/api/cards.test.ts
Due: hooks

exports cards hook
  packages/hooks/src/index.ts
Due: hooks

Adds devtools to type UserSettings and to the function userSettings
  packages/lib/src/types/user.ts
  packages/lib/src/user/utils.ts
Due: lib
