Repository osu-wams/dx-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: components, hooks, lib, utils

adds optional bool for detecting masquerade
  packages/lib/src/types/user.ts
Due: lib

Publish
  packages/hooks/package.json
  packages/lib/package.json
Due: hooks, lib

replaces tokens in ENV
  .github/workflows/ci.yml
Due: none

adds updated date to Alert type
  packages/lib/src/types/user.ts
Due: lib

adds updated mock date
  packages/hooks/src/mocks/alerts.ts
Due: hooks

refactors alerts to use react-query
  packages/hooks/src/api/alerts.ts
  packages/hooks/test/api/alerts.test.ts
Due: hooks

add Box resources to mock data
  packages/hooks/src/mocks/resources.ts
Due: hooks

Publish
  packages/hooks/package.json
Due: hooks

Favorite resources now an array, as order changes on multiple resources at a time
  packages/hooks/src/api/resources.ts
Due: hooks

Updates event url mock data, so there are more unique urls present
  packages/hooks/src/mocks/events.ts
Due: hooks

updates packages for state migration
  .eslintrc.js
  package.json
  packages/grouper/package.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
  yarn.lock
Due: hooks, lib, utils

migrate state to hooks package
  packages/hooks/package.json
  packages/hooks/src/state/announcements.ts
  packages/hooks/src/state/application.ts
  packages/hooks/src/state/applicationSearch.ts
  packages/hooks/src/state/courses.ts
  packages/hooks/src/state/dynamicCards.ts
  packages/hooks/src/state/events.ts
  packages/hooks/src/state/grades.ts
  packages/hooks/src/state/index.ts
  packages/hooks/src/state/messages.ts
  packages/hooks/src/state/notifications.ts
  packages/hooks/src/state/plannerItems.ts
  packages/hooks/src/state/resources.ts
  packages/hooks/src/state/search.ts
  packages/hooks/src/state/searchIndex.ts
  packages/hooks/src/state/trainings.ts
  packages/utils/src/externalUrls.data.ts
  packages/utils/src/index.ts
  yarn.lock
Due: hooks, utils

migrate shared utils to utils package
  packages/utils/package.json
  packages/utils/src/canvas.ts
  packages/utils/src/course.ts
  packages/utils/src/helpers.ts
  packages/utils/src/index.ts
  packages/utils/src/resources.ts
  packages/utils/src/routes.ts
  packages/utils/src/training.ts
  yarn.lock
Due: utils

migrates state and utils
  package-list-build-order
  packages/grouper/package.json
  packages/hooks/src/index.ts
  packages/hooks/src/state/index.ts
  packages/lib/package.json
  packages/utils/package.json
  packages/utils/src/index.ts
  yarn.lock
Due: hooks, lib, utils

adds bugfix from dx repo
  packages/utils/src/helpers.ts
Due: utils

migrates user state and application messages state to hooks
  packages/hooks/package.json
  packages/hooks/src/api/applicationMessages.ts
  packages/hooks/src/api/user.ts
  packages/hooks/src/index.ts
  yarn.lock
Due: hooks

fixes circular dependencies
  packages/hooks/src/state/application.ts
  packages/hooks/src/state/dynamicCards.ts
Due: hooks

migrates resources state hook to hooks package
  packages/hooks/src/api/resources.ts
  packages/hooks/src/index.ts
Due: hooks

migrates announcements and events state hooks to hooks package
  packages/hooks/src/api/announcements.ts
  packages/hooks/src/api/events.ts
  packages/hooks/src/index.ts
  packages/hooks/src/state/events.ts
Due: hooks

migrates cards state to hooks package
  packages/hooks/src/api/cards.ts
  packages/hooks/src/index.ts
Due: hooks

migrates trainings state to hooks package
  packages/hooks/src/api/trainings.ts
  packages/hooks/src/index.ts
Due: hooks

migrates page search index state to hooks package
  packages/hooks/src/api/searchIndex.ts
  packages/hooks/src/api/trainings.ts
  packages/hooks/src/index.ts
Due: hooks

migrates courses, grades and planneritems state to hooks package
  packages/hooks/src/api/student/courseSchedule.ts
  packages/hooks/src/api/student/grades.ts
  packages/hooks/src/api/student/index.ts
  packages/hooks/src/api/student/plannerItems.ts
  packages/hooks/src/index.ts
Due: hooks

migrates info buttons state to hooks package
  packages/hooks/src/api/infoButtons.ts
  packages/hooks/src/index.ts
Due: hooks

tests resource state hook
  packages/hooks/test/api/resources.test.ts
Due: hooks

tests with recoil root
  packages/hooks/test/api/resources.test.tsx
Due: hooks

covers after error response from api
  packages/hooks/test/api/resources.test.tsx
Due: hooks

adds coverage for state hooks
  packages/hooks/src/api/user.ts
  packages/hooks/test/api/infoButtons.test.tsx
  packages/hooks/test/api/resources.test.tsx
  packages/hooks/test/api/trainings.test.tsx
  packages/hooks/test/api/user.test.tsx
  packages/hooks/test/test-utils.tsx
Due: hooks

mocks window location for tests
  packages/hooks/test/api/user.test.tsx
Due: hooks

fixes tests
  packages/hooks/test/api/infoButtons.test.tsx
  packages/hooks/test/api/user.test.tsx
Due: hooks

mockNavigate returns a promise
  packages/hooks/test/api/user.test.tsx
Due: hooks

Publish
  packages/grouper/package.json
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

use ts-jest preset instead of transforms
  packages/grouper/jest.config.js
  packages/hooks/jest.config.js
  packages/lib/jest.config.js
  packages/utils/jest.config.js
Due: hooks, lib, utils

adds coverage for hooks
  packages/hooks/test/api/announcements.test.tsx
  packages/hooks/test/api/cards.test.tsx
  packages/hooks/test/api/searchIndex.test.ts
  packages/hooks/test/api/searchIndex.test.tsx
Due: hooks

adds coverage for canvas util
  packages/utils/test/canvas.test.ts
Due: utils

adds coverage for course util
  packages/utils/test/course.test.ts
Due: utils

use UTC in tests
  packages/grouper/jest.config.js
  packages/hooks/jest.config.js
  packages/lib/jest.config.js
  packages/utils/jest.config.js
  packages/utils/test/course.test.ts
Due: hooks, lib, utils

Path conditions:
  components: any of: packages/components/
  hooks: any of: packages/hooks/
  lib: any of: packages/lib/
  utils: any of: packages/utils/
