Repository osu-wams/dx-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: hooks, lib, utils

adds levelCode to initial state
  packages/hooks/src/api/student/gpa.ts
Due: hooks

fixes mock and gpalevel test
  packages/hooks/src/mocks/student/gpa.ts
  packages/hooks/test/api/student/gpa.test.ts
Due: hooks

Publish
  packages/hooks/package.json
  packages/lib/package.json
Due: hooks, lib

updates useGpa to react query based hook
  packages/hooks/src/api/student/gpa.ts
  packages/hooks/test/api/student/gpa.test.ts
Due: hooks

Publish
  packages/hooks/package.json
Due: hooks

fixes mock hook returns for updated hooks
  packages/hooks/src/mocks/resources.ts
  packages/hooks/src/mocks/student/gpa.ts
  packages/hooks/test/api/resources.test.ts
Due: hooks

adds missing affiliations to user type
  packages/lib/src/mocks/user.ts
  packages/lib/src/types/user.ts
  packages/lib/src/user/constants.ts
Due: lib

Updates training mocks with 3 objects for better testing
  packages/hooks/src/mocks/trainings.ts
Due: hooks

updates planner-items api call to use react-query
  packages/hooks/src/api/student/plannerItems.ts
  packages/hooks/test/api/student/plannerItems.test.ts
Due: hooks

Improves user mocks and tests with better mock users and more constants
  package.json
  packages/hooks/package.json
  packages/hooks/src/mocks/resources.ts
  packages/lib/src/mocks/user.ts
  packages/lib/src/types/user.ts
  packages/lib/src/user/constants.ts
  packages/lib/src/user/utils.ts
  packages/lib/test/user/utils.test.ts
  yarn.lock
Due: hooks, lib

Fixes vscode auto import, and exports subclassification and level_code constants from the root of lib
  packages/hooks/src/mocks/resources.ts
  packages/lib/src/user/index.ts
  packages/lib/test/user/utils.test.ts
Due: hooks, lib

Fixes an export
  packages/hooks/src/mocks/resources.ts
Due: hooks

Default user no longer has any audience override data
  packages/lib/src/mocks/user.ts
  packages/lib/test/user/utils.test.ts
Due: lib

Publish
  packages/hooks/package.json
  packages/lib/package.json
  packages/utils/package.json
Due: hooks, lib, utils

Modifies settingIsOverriden with better logic and adds parameter to isUserType functions to account or not for setting overrides
  packages/lib/src/mocks/user.ts
  packages/lib/src/user/utils.ts
  packages/lib/test/user/utils.test.ts
Due: lib

work in progress
  .vscode/settings.json
  packages/grouper/.gitignore
  packages/grouper/LICENSE
  packages/grouper/README.md
  packages/grouper/jest.config.js
  packages/grouper/package.json
  packages/grouper/src/client.ts
  packages/grouper/src/index.ts
  packages/grouper/src/jest.setup.ts
  packages/grouper/src/queries.ts
  packages/grouper/tsconfig.json
  packages/grouper/tsconfig.repl.json
  packages/grouper/types/index.d.ts
  yarn.lock
Due: none

grouper api and testing
  packages/grouper/src/client.ts
  packages/grouper/src/grouper.http
  packages/grouper/src/queries.ts
Due: none

grouper wip
  packages/grouper/.env.example
  packages/grouper/.gitignore
  packages/grouper/.prettierrc
  packages/grouper/.vscode/settings.json
  packages/grouper/Dockerfile
  packages/grouper/jest.config.js
  packages/grouper/log/.keep
  packages/grouper/package.json
  packages/grouper/run.sh
  packages/grouper/src/client.ts
  packages/grouper/src/deps.ts
  packages/grouper/src/index.ts
  packages/grouper/src/jest.setup.ts
  packages/grouper/src/log.ts
  packages/grouper/src/mod.ts
  packages/grouper/src/queries.ts
  packages/grouper/src/types.ts
  packages/grouper/support/grouper.http
  packages/grouper/test.ts
  packages/grouper/tsconfig.json
  packages/grouper/tsconfig.repl.json
  packages/grouper/types/index.d.ts
Due: none

fixes state race condition with useUser hook
  packages/hooks/src/api/user.ts
Due: hooks

security fixes
  yarn.lock
Due: none

translates grouper to typescript library
  packages/grouper/.env.example
  packages/grouper/.gitignore
  packages/grouper/.prettierrc
  packages/grouper/.vscode/settings.json
  packages/grouper/Dockerfile
  packages/grouper/jest.config.js
  packages/grouper/log/.keep
  packages/grouper/package.json
  packages/grouper/run.sh
  packages/grouper/src/client.ts
  packages/grouper/src/constants.ts
  packages/grouper/src/deps.ts
  packages/grouper/src/index.ts
  packages/grouper/src/jest.setup.ts
  packages/grouper/src/log.ts
  packages/grouper/src/mocks/handlers.ts
  packages/grouper/src/mocks/server.ts
  packages/grouper/src/mocks/wsGetMemberResults.ts
  packages/grouper/src/mod.ts
  packages/grouper/src/queries.ts
  packages/grouper/src/types.ts
  packages/grouper/support/grouper.http
  packages/grouper/test.ts
  packages/grouper/test/queries.test.ts
  packages/grouper/tsconfig.json
  packages/grouper/types/index.d.ts
  yarn.lock
Due: none

User now differentiates more clearly between classification and favorite resources changes and other user data including primary affiliation override
  packages/hooks/src/api/user.ts
Due: hooks

adds restclient for testing
  packages/grouper/support/grouper.http
  packages/grouper/test/client.test.ts
  packages/grouper/test/queries.test.ts
Due: none

grouper api and testing adds restclient for testing
  .vscode/settings.json
  packages/grouper/.gitignore
  packages/grouper/LICENSE
  packages/grouper/README.md
  packages/grouper/jest.config.js
  packages/grouper/package.json
  packages/grouper/src/client.ts
  packages/grouper/src/constants.ts
  packages/grouper/src/index.ts
  packages/grouper/src/jest.setup.ts
  packages/grouper/src/log.ts
  packages/grouper/src/mocks/handlers.ts
  packages/grouper/src/mocks/server.ts
  packages/grouper/src/mocks/wsGetMemberResults.ts
  packages/grouper/src/queries.ts
  packages/grouper/src/types.ts
  packages/grouper/support/grouper.http
  packages/grouper/test/client.test.ts
  packages/grouper/test/queries.test.ts
  packages/grouper/tsconfig.json
  packages/grouper/types/index.d.ts
  yarn.lock
Due: none

fixes updated react-query types
  packages/hooks/package.json
  packages/hooks/src/api/resources.ts
  packages/hooks/src/api/student/gpa.ts
  packages/hooks/src/api/student/plannerItems.ts
  packages/hooks/src/api/trainings.ts
  packages/hooks/src/api/user.ts
  packages/hooks/src/constants.ts
  yarn.lock
Due: hooks

Publish
  packages/grouper/package.json
  packages/hooks/package.json
Due: hooks

updates mcm related models and mocks for property updates
  packages/hooks/src/mocks/messages.ts
  packages/lib/src/mocks/user.ts
  packages/lib/src/types/user.ts
Due: hooks, lib

Updates persons endpoint to use react-query, updates types and tests
  packages/hooks/package.json
  packages/hooks/src/api/person/persons.ts
  packages/hooks/src/mocks/person/persons.ts
  packages/hooks/test/api/person/persons.test.ts
  packages/lib/src/types/index.ts
  packages/lib/src/types/person.ts
Due: hooks, lib

Updates tsdx to latest version
  packages/grouper/package.json
  yarn.lock
Due: none

Path conditions:
  hooks: any of: packages/hooks/
  lib: any of: packages/lib/
  utils: any of: packages/utils/
